[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.4"
djangorestframework = "*"
psycopg2-binary = "*"
django-extensions = "*"
extensions = "*"
boto3 = "*"
email-validator = "*"
django-cognito-jwt = "*"
django-cors-headers = "*"
requests = "*"
pathlib = "*"
celery = "*"
django-redis = "*"
djangorestframework-camel-case = "*"
django-filter = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.10"
